.bg {
    background: lightblue;
    color: black;
}
.big {
    text-align: center;
    font-size: 18pt;
    color: purple;
}
.header {
    text-align: center;
    font-size: 18pt;
    color: blue;
}
.text {
    text-align: center;
    font-style: normal;
    color: black;
}
